.root {
  width: calc(100vw - 67px);
  height: calc(100vh - 178px);
  padding: 30px 30px;
  background-color: #f0f8ff;
}

.img {
  width: 100%;
  max-width: 500px;

}

.notFound {
  margin-top: 0;
  margin-left: 17px;
  color: black;
}