.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  @media(min-width: 1200px) {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

button.favoriteBtn ,
button.editAlbumBtn,
button.deleteAlbumBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  
  @media(min-width: 1200px) {
    width: 25px;
    height: 35px;
    border-radius: 5px;
  }
}

button.favoriteBtn:hover ,
button.editAlbumBtn:hover ,
button.deleteAlbumBtn:hover {

  @media(min-width: 1200px) {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }
}

.btnIcon {
  width: 25px;
  height: 35px;
  vertical-align: inherit;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.btnIcon:hover {
  scale: 1.15;
  color: rgba(255, 255, 255, 1);
}