@import url('../style-const.css');

.catalogWrapper {
  @media(min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.catalogHeader {
  padding: 0 20px;

  @media(min-width: 1200px) {
    padding: 0;
  }
}

.panelWrapper {
  width: calc(100% - 40px);
  padding: 0 20px;

  @media(min-width: 1200px) {
    width: 1060px;
  }
}

.sortingWrapper {
  margin: 20px 0 20px;

  @media(min-width: 480px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.searchInputWrapper {
  width: 100%;

  @media(min-width: 480px) {
    display: flex;
    justify-content: space-between;
  }
}

.dropdownWrapper {
  margin-top: 10px;

  @media(min-width: 480px) {
    margin-top: 0;
  }
}

.catalog {
  @media(min-width: 1200px) {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: 1fr;
    gap: 20px;
  }
}